.root {
  margin: 0px;
  padding: 0px;
}
.inputsection {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 400px;
  margin: 60px auto 0px;
}
.title {
  text-align: center;
  font-weight: 700;
}
.formelement {
  width: 400px;
  margin: 0px auto;
  text-align: center;
}
input {
  border-radius: 5px;
  border-color: brown;
  padding: 13px 10px;
  width: 370px;
}
.btn {
  border-radius: 4px;
  padding: 13px 20px;
  border-color: brown;
  margin-left: 6px;
}
.btn:hover {
  background: rgb(185, 164, 164);
  color: white;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  transition: 200ms;
  border-color: azure;
}

/* showing dynamic data */
.data {
  text-align: center;
  margin-top: 20px;
  /* border: 1px; */
  border-radius: 5px;
  /* border-style: solid; */
  width: 900px;
  margin: 30px auto 0px;
  padding: 0px 8px;
}

.todo {
  display: flex;
  align-items: center;
  margin: 15px auto;
  justify-content: space-between;
  background-color: beige;
  border-radius: 10px;
  padding: 0px 7px;
}

.isCompleted {
  width: 30px;
  height: 20px;
}
.deleteBtn {
  width: 25px;
  height: 25px;
  background-color: red;
  color: white;
  border-radius: 100%;
  border-color: coral;
}
.deleteBtn:hover {
  border-color: rgb(205, 67, 67);
}

.textCut {
  text-decoration: line-through;
}
