.root {
  margin: 0px;
  padding: 0px;
}
.inputsection {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 400px;
  margin: 60px auto 0px;
}
.title {
  text-align: center;
  font-weight: 700;
}
.formelement {
  width: 400px;
  margin: 0px auto;
  text-align: center;
}
input {
  border-radius: 5px;
  border-color: brown;
  padding: 7px 10px;
  width: 200px;
}
.btn {
  border-radius: 4px;
  padding: 7px 15px;
  border-color: brown;
  margin-left: 6px;
}
.btn:hover {
  background: rgb(185, 164, 164);
  color: white;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  transition: 200ms;
  border-color: azure;
}


/* showing dynamic data */
.data{
  text-align: center;
  margin-top: 20px;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 700px;
  margin: 30px auto 0px;
}